:root {
  --gray-dark: hsl(60, 0%, 10%);
  --gray: rgb(190, 190, 190);
  --gray-light: hsl(60, 0%, 70%);
  --padding: 0.3em;
  --padding-box: 1em;
  --accent-dim: hsl(341, 80%, 34%);
  --accent: hsl(341, 80%, 46%);
  --font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

body {
  overscroll-behavior: contain;
  font-family: var(--font);
  background-color: var(--gray);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--gray-dark);
}

.fullHeight {
  height: 100vh;
}

.demos {
  display: flex;
  flex-wrap: wrap;
}
.demos>div {
  border: var(--padding) solid var(--gray-dark);
  padding: var(--padding-box);
  margin: var(--padding);
  background-color: var(--gray-light);
  border-radius: 6px;
}

.demos .mods::before {
  content: "Modules ";
  text-transform: uppercase;
  font-size: 0.8em;
}

.demos .fns::before {
  content: "Functions ";
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: var(--font);
}

.demos .fns {
  font-family: monospace;
}

.demos .techniques::before {
  content: "Techniques ";
  text-transform: uppercase;
  font-size: 0.8em;
}
.demos .source {
  text-transform: uppercase;
  font-size: 0.5em;
  background-color: var(--gray-dark);
  color: var(--gray-light);
  padding: 0.5em;
  opacity: 0.6;
  border-radius: 1em;
  transition: opacity 0.2s ease-in;
}

.demos .source::before {
  content: "Source";
}

.demos .source:hover {
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  font-size: 1.4em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

header a:link, header a:visited {
  text-decoration: none;
  color: var(--gray-dark);
}
header a:hover {
  color: var(--accent);
}

ul.nobullets {
  padding: 0;
}

ul.nobullets li {
  list-style: none;
}

section {
  padding: 1em;
}

main>section {
  max-width: 20em;
}

h1 {
  color: var(--gray-dark);
}

a {
  color: var(--accent-dim);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}