:root {
  --padding: 0.3em;
  --padding-m: 0.5em;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-font: "Cascadia Code", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

#sourceSection {
  position: absolute;
  right: 0;
  top: 0;
}

#sourceSection>nav {
  background-color: black;
  color: white;
  padding: 0.2em;
  font-size: 80%;
  cursor: default;
}

#sourceSection>nav a:link,
#sourceSection>nav a:visited,
#sourceSection>nav a:active,
#sourceSection>nav a:hover {
  color: silver
}

#sourceSection>iframe {
  aspect-ratio: 640 / 380;
  width: 100%;
  height: 100%;
  border: none;
}

#sourceSection.s>iframe {
  width: 30vw;
}

#sourceSection.m>iframe {
  width: 60vw;
}

#sourceSection.l>iframe {
  width: 100vw;
}

#btnCloseFrame {
  margin-right: var(--padding-m);
}

#sourceSection>nav {
  display: flex;
  align-items: center;
}

#sourceSection>nav h1 {
  font-size: 12px;
  margin: 0;
  flex-grow: 1;
}